alphashape
ansys-dpf-core==0.2.1
ansys-dpf-post
astropy
dateutil
descartes
gmsh
geojson
line_profiler
netCDF4
nlopt
numdifftools
numpy
openpyxl
pandas
plotly
pygmsh
pygeos --no-binary pygeos
pytest
pyvista
pyquaternion
rdp
seaborn
scipy
scikit-learn
shapely --no-binary shapely
spyder
tetgen
trimesh
vedo
vtk
wheel
xarray
-e .
