astropy
descartes
gmsh
geojson
netCDF4
nlopt
numpy==1.20
--trusted-host storage.googleapis.com 
https://storage.googleapis.com/open3d-releases-master/python-wheels/open3d-0.13.0+6b6e3bd-cp39-cp39-manylinux_2_27_x86_64.whl
openpyxl
pandas
pygmsh
pygeos --no-binary pygeos
pytest
pyvista
pyquaternion
rdp
seaborn
scipy
shapely --no-binary shapely
spyder
tetgen
vedo
wheel
xarray
