alphashape
ansys-dpf-core==0.2.1
ansys-dpf-post
astropy
descartes
gmsh
geojson
line_profiler
netCDF4
networkx
nlopt
numba
numdifftools
numpy
openpyxl
pandas
plotly
pygeos --no-binary pygeos
pygmsh
pytest
python-dateutil
pyvista
pyquaternion
rdp
seaborn
scipy
scikit-learn
shapely --no-binary shapely
spyder
tetgen
trimesh
vedo
vtk
wheel
xarray
-e .
