ansys-dpf-core==0.2.1
ansys-dpf-post
astropy
beautifulsoup4
#coolprop
cffi 
cppimport 
cython
descartes
dill
flake8
fortranformat
ftputil
geojson
hvplot
intake
itkwidgets 
matplotlib
mechanize
moviepy
mpi4py 
netcdf4
nlopt
numba
numpy==1.20.3
openpyxl  
pandas
pyarrow
pybind11==2.7.1 
pygeos
# pygmo
pymupdf
pyquaternion
# pytables
pytest 
pytest-xdist 
python-snappy
python-docx
pyvista
rdp
regex
scikit-image
scikit-learn
scipy
seaborn
setuptools 
shapely
sphinx 
sphinx_rtd_theme
spyder
spyder-line-profiler
spyder-unittest
urllib3
vtk==9.0.20210717.dev0
wheel
xarray
xlrd
